body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 {
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
 
}
div {
    font-size: 32px;
    color: #222;
    background-color: #fff;
    padding: 10px 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    
}
.button-container{
    display:flex;
}
button {
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    
    transition: background-color 0.3s ease;
    
}
button:hover {
    background-color: #0056b3;
}
#reset {
    background-color: #28a745;
    
}
#reset:hover {
    background-color: #1e7e34;
}
#stop {
    background-color: #dc3545;
}
#stop:hover {
    background-color: #a71d2a;
}
